* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

div.container .link {
  height: 200px;
  padding: 50px;
}

div.container .link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

div.container .link a img {
  padding-right: 30px;
}

div.box {
  border: 2px solid black;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
}

div.box p {
  display: inline;
  margin-right: 10px;
}

header {
  height: 100px;
  text-align: center;
  background-color: orange;
  border-bottom: 2px solid red;
}

header h1 {
  padding-top: 30px;
  color: white;
}

footer {
  height: 100px;
  text-align: center;
  background-color: orange;
}

footer h3 {
  padding-top: 30px;
  color: white;
  font-size: 25pt;
}

div.buttons {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

div.button a {
  border: 2px solid red;
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

div.button {
  height: 80px;
  padding: 50px 20px;
}

// seconda pagine CREATE
div.edit {
  padding: 50px;

  div.form-group {
    padding: 20px 0;
  }

  div.form-group label {
    display: block;
    padding-right: 20px;
    font-size: 18pt;
    font-weight: bold;
    padding-bottom: 5px;
  }

  div.form-group input {
    width: 250px;
    height: 30px;
  }

  button {
    width: 100px;
    height: 30px;
    background-color: orange;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
}
